{% load static from staticfiles %}

<!DOCTYPE html>

<html>
<head>
	<title> Symptoms </title>
	<link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
	<div class="wrapper">
		<h1><a href="{% url 'medical:list' %}"><img src="{% static 'logo.png' %}" /></a> </h1>
		<nav>
			<ul>
				<li>
					<form class="logout-link" action="{% url 'patients:logout' %}" method="post">
						{% csrf_token %}
						<button type="submit">Logout</button>
						
					</form>
				</li>
			</ul>
		</nav>
		{% block block_name1 %}
		{% endblock %}
		
	</div>

</body>
</html> 